In [1]:
import psycopg2
import pandas as pd

In [2]:
try: 
    conn = psycopg2.connect("host=localhost dbname=postgres user=postgres password=sqlsql12")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)

In [3]:
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

In [4]:
conn.set_session(autocommit=True)

In [5]:
try: 
    cur.execute("create database olist")
except psycopg2.Error as e:
    print(e)

database "olist" already exists

In [6]:
try: 
    conn.close()
except psycopg2.Error as e:
    print(e)
    
try: 
    conn = psycopg2.connect("host=localhost dbname=olist user=postgres password=sqlsql12")
except psycopg2.Error as e: 
    print("Error: Could not make connection to the Postgres database")
    print(e)
    
try: 
    cur = conn.cursor()
except psycopg2.Error as e: 
    print("Error: Could not get curser to the Database")
    print(e)

conn.set_session(autocommit=True)

In [7]:
customer_data = pd.read_csv(r"C:\dataset\Data\olist_customers_dataset.csv")

In [8]:
customer_data_clean = customer_data[['customer_id','customer_zip_code_prefix','customer_city','customer_state']]

In [9]:
customer_data_clean.head()

,customer_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,13056,campinas,SP

In [10]:
payment_data = pd.read_csv(r"C:\dataset\Data\olist_order_payments_dataset.csv")

In [11]:
payment_data.head()

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45

In [12]:
seller_data = pd.read_csv(r"C:\dataset\Data\olist_sellers_dataset.csv")

In [13]:
seller_data.head()

,seller_id,seller_zip_code_prefix,seller_city,seller_state
0,3442f8959a84dea7ee197c632cb2df15,13023,campinas,SP
1,d1b65fc7debc3361ea86b5f14c68d2e2,13844,mogi guacu,SP
2,ce3ad9de960102d0677a81f5d0bb7b2d,20031,rio de janeiro,RJ
3,c0f3eea2e14555b6faeea3dd58c1b1c3,4195,sao paulo,SP
4,51a04a8a6bdcb23deccc82b0b80742cf,12914,braganca paulista,SP

In [14]:
customer_data.columns

Index(['customer_id', 'customer_unique_id', 'customer_zip_code_prefix',
       'customer_city', 'customer_state'],
      dtype='object')

In [15]:
customer_data_create_table = ("""CREATE TABLE customer (
customer_id VARCHAR PRIMARY KEY,
customer_zip_code INTEGER, 
customer_city VARCHAR,
seller_state VARCHAR)""")

In [16]:
cur.execute(customer_data_create_table)
conn.commit()

DuplicateTable: relation "customer" already exists

In [ ]:
customer_data_insert = ("""INSERT INTO customer (
customer_id, 
customer_zip_code,
customer_city,
seller_state )
VALUES(%s,%s,%s,%s)""")

In [ ]:
for i, row in customer_data_clean.iterrows():
    cur.execute(customer_data_insert,list(row))

In [ ]:
payment_data_create_table = ("""CREATE TABLE payment (
order_id VARCHAR,
payment_sequential SMALLINT, 
payment_type VARCHAR,
payment_installments SMALLINT,
payment_value FLOAT(2))""")

In [ ]:
cur.execute(payment_data_create_table)
conn.commit()

In [ ]:
payment_data_insert = ("""INSERT INTO payment (
order_id, 
payment_sequential ,
payment_type,
payment_installments,
payment_value)
VALUES(%s,%s,%s,%s,%s)""")

In [ ]:
for i, row in payment_data.iterrows():
    cur.execute(payment_data_insert,list(row))

In [28]:
seller_data_clean = seller_data[['seller_id','seller_zip_code_prefix','seller_state']]

In [30]:
seller_data_create_table = ("""CREATE TABLE seller (
seller_id VARCHAR PRIMARY KEY,
seller_zip_code INTEGER,
seller_state VARCHAR
)""")

In [31]:
cur.execute(seller_data_create_table)
conn.commit()

In [1]:
seller_data_insert = ("""INSERT INTO seller (
seller_id, 
seller_zip_code,
seller_state)
VALUES(%s,%s,%s)""")

In [2]:
for i, row in seller_data_clean.iterrows():
    cur.execute(seller_data_insert,list(row))

NameError: name 'seller_data_clean' is not defined

In [27]:
try: 
    cur.execute("drop table seller")
except psycopg2.Error as e:
    print(e)

In [29]:
seller_data_clean.head()

                          seller_id  seller_zip_code_prefix seller_state
0  3442f8959a84dea7ee197c632cb2df15                   13023           SP
1  d1b65fc7debc3361ea86b5f14c68d2e2                   13844           SP
2  ce3ad9de960102d0677a81f5d0bb7b2d                   20031           RJ
3  c0f3eea2e14555b6faeea3dd58c1b1c3                    4195           SP
4  51a04a8a6bdcb23deccc82b0b80742cf                   12914           SP

In [ ]:
for i, row in seller_data_clean.iterrows():
    cur.execute(seller_data_insert,list(row))